@use "./../helpers/variable" as *;

.cta {
    background: url("../../assets/images/pexels-photograph-1252508.jpg") center center / cover no-repeat;
    width: 100%;
    min-height: 500px;
    height: 100%;
    padding: 190px 50px;
    position: relative;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;



    &::before {

        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }

    .cta-diamond {
        position: absolute;
        content: '';
        top: calc(100% - (((100% - 456px) / 2) + 456px));
        left: calc(100% - (((100% - 456px) / 2) + 456px));
        min-width: 456px;
        min-height: 456px;
        background: url("../../assets/images/pexels-photograph-1252508.jpg") center center / cover no-repeat;
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        transition: 0.5s ease-in-out;

        &::before {
            content: "";
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            display: block;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            transform: skewX(-25deg);
            transition: all .75s;
        }

        &:hover {
            &::before {
                left: 125% !important;
            }

            animation: loader 20s linear infinite;
        }

        @media screen and (max-width: 431px) {
            min-width: 333px;
            min-height: 333px;
            top: calc(100% - (((100% - 333px) / 2) + 333px));
            left: calc(100% - (((100% - 333px) / 2) + 333px));
        }

        @media screen and (max-width: 345px) {
            min-width: 300px;
            min-height: 300px;
            top: calc(100% - (((100% - 300px) / 2) + 300px));
            left: calc(100% - (((100% - 300px) / 2) + 300px));
        }
    }

    .cta-content {
        position: relative;
        text-align: center;

    }

}

@keyframes loader {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: 80deg;
    }

    50% {
        rotate: -160deg;

    }

    100% {
        rotate: 160deg;
    }
}