@use "./../helpers/variable" as *;

.entertainment {
  background: url("./../../assets/images/noel_enter_1.png");
  //   background-color: $background-color_8;
  background-color: #802121;
  background-position: top left;
  background-repeat: no-repeat;
  user-select: none;

  .enter-inner {
    padding-top: 100px;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: $color_1;
      }

      @media screen and (max-width: 431px) {
        display: block;
      }
    }
  }
}
