@use "./../helpers/variable" as *;

.extra {
  background: url("./../../../public/images/christmas2025/noel_10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 50px;
  background-position: right;

  @media screen and (max-width: 431px) {
    padding: 50px 10px;
  }

  .title {
    color: $color_1;

    h2 {
      color: $color_1;
    }
  }

  .overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .img-content {
    width: 100%;
    height: 100%;
    aspect-ratio: 736 / 414;
    position: relative;

    @media screen and (max-width: 431px) {
      aspect-ratio: 1 / 1;
    }

    img {
      object-fit: cover;
      object-position: center;
      position: relative;
    }

    a {
      position: absolute;
      bottom: 45%;
      left: 45%;

      @media screen and (max-width: 431px) {
        left: 37%;
      }
    }
  }
}
