@use "./../helpers//variable" as *;

header {
    .nav-item {

        &.active {
            .nav-link {
                color: $color_6 !important;
            }

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: "";
            width: 0;
            height: 2px;
            background-color: $color_6;
            display: block;
            transition: all .5s;
        }

        &::before {
            content: "";
            width: 0;
            height: 2px;
            background-color: $color_6;
            display: block;
            transition: all .5s;
        }

        &:hover {
            &::after {
                width: 100%;
            }

            &::before {
                width: 100%;
            }

            .nav-link {
                color: $color_6 !important;
            }
        }

        @media screen and (max-width: 820px) {}
    }

    span {
        font-family: "MuseoModerno",
            sans-serif !important;
    }




    .navbar {
        i {
            font-size: 45px;
        }
    }

    .navbar-brand {
        font-size: 36px;
        padding-left: 10px;
    }

    .navbar-toggler {
        background: green;

        &:hover {
            background-color: $color_blue-100;
        }
    }

    &.bg-change {
        background-color: rgba(53, 162, 44, 0.5) !important;
        opacity: .0.8;
    }
}