@use "./../helpers//variable" as *;

.cyber_project,
.all-project {
    .project_item {
        img {
            width: 100%;
            min-height: 250px;
            object-fit: cover;
            object-position: left;
            border-radius: 12px 12px 0 0;
            height: auto;
        }



        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 12px;

        .project_item_text {
            min-height: 150px;
            text-align: center;
            padding: 20px 15px 30px 15px;
            border: 1px solid transparent;
            border-radius: 0 0 12px 12px;
            border-top: none;
            transition: all 0.5s;
        }

        h6 {
            color: $color_3;
            transition: all .5s;
        }

        &:hover {
            .project_item_text {
                border-color: $border-color_1;

                h4 {
                    color: $color_3;
                }

                h6 {
                    color: black;
                }
            }

        }

        p {
            color: $color_5;
        }
    }

    .title {
        color: $color_5;
    }

    .cyber_project_title {
        width: 70%;
        text-align: center;
    }

    .nav {
        .nav-item {
            .nav-link {
                color: black;
                min-width: 128px;

                &.active {
                    background-color: $color_6;
                    color: $color_1;
                    border-color: $border-color_3 !important;
                }
            }

        }


        @media screen and (max-width:431px) {
            &.nav-pills {
                display: block;

                .nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;

                    .nav-link {
                        width: 50%;
                    }
                }
            }
        }
    }
}