$color_1: #fff;
$color_2: #1a1d2d;
$color_3: green;
$color_4: white;
$color_5: #585858;
$color_6: #35a22c;
$color_7: #A8A8A8;
$color_8: #06491f;
$background-color_1: #0ea8cf;
$background-color_2: red;
$background-color_3: rgba(7, 10, 12, 0.72);
$background-color_4: black;
$background-color_5: #fff;
$background-color_6: green;
$background-color_7: #222222;
$background-color_8: #292a2d;
$border-color_1: green;
$border-color_2: white;
$border-color_3: #35a22c;
$border-color_4: rgb(168, 168, 168, 0.3);