@use "./../helpers//variable" as *;

body {
    .container {
        max-width: 1140px;
    }

    font-family: Hind,
    sans-serif !important;
    user-select: none;
    -webkit-user-select: none;
}

h1,
h2,
h3,
h4 {
    font-family: "MuseoModerno",
        sans-serif !important;
}

.title {
    h3 {
        color: $color_1;
        padding-top: 25px;
        font-weight: 800;
    }

    h2 {
        font-size: 2.5rem;
        color: $color_2;
        font-weight: bolder;

        @media screen and (max-width:376px) {
            font-size: 1.5rem;
        }
    }

    p {
        padding-top: 15px;
        // font-size: 16px;
        line-height: 24px;
    }
}